$fbGray: #333333;
$fbBlue: #365889;
$fbLightGray: #F5F6F7;
$border: #bdc7d8;
$btnColor: #69A74E;
$btnDark: #588c41;
form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
input[name=name]{
  width: 48%;
  height: 38px;
  margin-right: 1%;
  &::placeholder {
    padding-left: 10px;
    font-size: 15px;
  }
}
input {
  margin-top: 10px;
  border: none;
  border: 1px solid $border;
  border-radius: 6px;
  font-size: 15px;
  height: 38px;
}
input[name=mobile] {
  width: 98%;
  &::placeholder {
    padding-left: 10px;
    font-size: 15px;
  }
}
input[name=password] {
  width: 98%;
  &::placeholder {
    padding-left: 10px;
    font-size: 15px;
  }
}
input[name=dob] {
  margin: 0;
  margin-top: 4px;
  padding-left: 10px;
}
.birthday {
  width: 100%;
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.dobInput {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  input {
    align-self: center;
  }
  p {
    align-self: center;
    font-size: 13px;
    margin-left: 10px;
    color: $fbBlue;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.genderInput{
  display: flex;
  width: 100%;
  label {
    font-size: 18px;
  }
  input {
    margin: 0;
    margin-right: 10px;
  }
  .femaleInput{
    display: flex;
    align-self: center;
    margin-right: 20px;
    label {
      align-self: center;
    }
  }
  .maleInput{
    display: flex;
    align-self: center;
    label {
      align-self: center;
    }
  }
}
.disclaimer {
  font-size: 13px;
  color: $fbGray;
  .blue {
    color: $fbBlue;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
button {
  background-color: $btnColor;
  border-radius: 5px;
  width: 50%;
  height: 40px;
  border: 1px solid $btnDark;
  color: white;
  font-size: 20px;
  text-shadow: 0px 0px 5px black;
  &:hover {
    opacity: .8;
    background-color: $fbBlue;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
}
