<div class="addNewAccount">
  <form class="form">
    <input type="text" name="name" placeholder="First Name">
    <input type="text" name="name" placeholder="Last Name">
    <input type="text" name="mobile" placeholder="Mobile Number or Email">
    <input type="password" name="password" placeholder="New Password">
    <div class="birthday">
      <p>Birthday</p>
      <select class="month" name="month">
        <option value="null">Month</option>
        <option value="January">Jan</option>
        <option value="February">Feb</option>
        <option value="March">Mar</option>
        <option value="April">Apr</option>
        <option value="May">May</option>
        <option value="June">Jun</option>
        <option value="July">Jul</option>
        <option value="August">Aug</option>
        <option value="September">Sep</option>
      </select>
    </div>
  </form>
</div>
