<div class="addNewAccount">
  <form class="form">
    <input type="text" name="name" placeholder="First Name">
    <input type="text" name="name" placeholder="Last Name">
    <input type="text" name="mobile" placeholder="Mobile Number or Email">
    <input type="password" name="password" placeholder="New Password">
    <p class="birthday">Birthday</p>
    <div class="dobInput">
      <input type="date" name="dob" value="dob">
      <p>Why do I need to provide my birthday?</p>
    </div>
    <div class="genderInput">
      <div class="female">
        <input type="radio" name="gender" value="female">
        <label for="gender">Female</label>
      </div>
      <div class="male">
        <input type="radio" name="gender" value="male">
        <label for="gender">Male</label>
      </div>
    </div>
  </form>
</div>
