<nav class="navbar">
  <div class="max-width">
    <a [routerLink]="['/feed']"><img src="../assets/images/facebookLogo.png" alt="" width="24" height="24"></a>
    <div class="search">
      <input #search placeholder="Search">
      <img src="../assets/images/search.png" alt="">
    </div>
    <div class="user" (click)="information()">
      <img src="{{(profile | async)?.profileImg}}" alt="">
      <p>{{(profile | async)?.firstname}}</p>
    </div>
    <div class="divider"></div>
    <div [routerLink]="['/feed']" class="home">
      <p>Home</p>
    </div>
    <div class="divider"></div>
    <div class="create">
      <p>Create</p>
    </div>
    <button class="logout" (click)="logout()">Logout</button>
    <div class="divider"></div>
    <img class="icon" src="../assets/icon/friends.png" alt="">
    <img class="icon" src="../assets/icon/messanger.png" alt="">
    <img class="icon" src="../assets/icon/alert.png" alt="">
    <div class="divider"></div>
    <img class="icon" src="../assets/icon/help.png" alt="">
    <img class="icon" src="../assets/icon/moremenu.png" alt="">
  </div>
</nav>
