<div class="profile">
  <div class="banner">
    <img src="{{(userDisplay | async)?.bannerImg}}" alt="">
    <div class="updateBanner" (click)="updateBanner()">
      <img src="../assets/icon/whiteCamera.png" alt="">
      <p>Update Cover Photo</p>
    </div>
  </div>
  <div class="profileOnBanner">
    <div class="profileImg">
      <img src="{{(userDisplay | async)?.profileImg}}" alt="">
      <div class="update" (click)="open()">
        <img src="../assets/icon/whiteCamera.png" alt="">
        <p>Update</p>
      </div>
    </div>
    <h1>{{(userDisplay | async)?.username}}</h1>
    <div class="profileActions">
      <div class="updateInfo">
        <p>Update Info</p>
      </div>
      <div class="activityLog">
        <p>Activity Log</p>
      </div>
    </div>
  </div>
  <div class="profileNav">

  </div>
</div>
