$gry: #ccc;
$fbBlue: #4267B2;
$fbDrkBlue: #365889;

@mixin noBorders{
  margin: 0;
  padding: 0;
}
.currentUsers{
  position: fixed;
  background-color: #e9ebee;
  top: 0;
  right: 0;
  width: 205px;
  height: 100%;
  border-left: 1px solid $gry;
  padding-left: 5px;
  margin-left: 5px;
  .games {
    margin-top: 45px;
    width: 100%;
    .title{
      margin-top: 5px;
      display: flex;
      margin-right: 5px;
      justify-content: space-between;
      .bigtext{
        font-size: 13px;
        @include noBorders;
      }
      .smalltext{
        font-size: 11px;
        @include noBorders;
        margin-top: 2px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .slideshow {
      display: flex;
      height: 65px;
      width: 95%;
      margin-right: 5px;
      align-items: center;
      border-bottom: 1px solid $gry;
      .slideshowImg{
        width: 100%;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        img{
          height: 47px;
          width: 47px;
          border-radius: 50px;
          opacity: 1;
          &:hover{
            box-shadow: 0px 0px 4px $fbBlue;
          }
        }
      }
      img {
        height: 65px;
        width: 20px;
        opacity: .7;
        &:hover{
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
  .list{
    width: 100%;
    display: flex;
    margin-left: -5px;
    padding-right: 5px;
    margin-top: 10px;
    &:hover {
      background-color: #ddd;
      cursor: pointer;
    }
    .user {
      width: 100%;
      padding: 4px;
      height: 32px;
      display: flex;
      align-items: center;
      font-size: 12px;
      img{
        width: 32px;
        height: 32px;
        border-radius: 32px;
        margin-right: 3px;
      }
    }
  }
  .search{
    background-color: #f5f6f7;
    position: fixed;
    bottom: 0;
    width: 205px;
    margin-left: -5px;
    padding-right: 5px;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    input {
      height: 30px;
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
    }
  }
}
