<div class="currentUsers">
  <div class="games">
    <div class="title">
      <p class="bigtext"><b>Instant Games</b></p>
      <p class="smalltext">More</p>
    </div>
    <div class="slideshow">
      <img src="../assets/icon/leftArrow.png" alt="">
      <div class="slideshowImg">
        <img src="../assets/games/coc.png" alt="">
        <img src="../assets/games/fortnite.jpg" alt="">
        <img src="../assets/games/gtav.jpeg" alt="">
      </div>
      <img src="../assets/icon/rightArrow.png" alt="">
    </div>
    <div class="title">
      <p class="bigtext"><b>Your Games</b></p>
      <p class="smalltext">More</p>
    </div>
    <div class="slideshow">
      <img src="../assets/icon/leftArrow.png" alt="">
      <div class="slideshowImg">
        <img src="../assets/games/coc.png" alt="">
        <img src="../assets/games/fortnite.jpg" alt="">
        <img src="../assets/games/gtav.jpeg" alt="">
      </div>
      <img src="../assets/icon/rightArrow.png" alt="">
    </div>
  </div>
  <div class="list">
    <h1>list of friends</h1>
  </div>
  <div class="search">
    <input type="text" name="" value="" placeholder="search">
  </div>
</div>
