<div class="imageView">
  <div class="imageSection">
    <h1 (click)="closeImageView()">&#10005;</h1>
    <div class="imageItem">
      <img src="{{initial}}" alt="">
      <div class="edit">
        <p (click)="updateProfileImage()">Use as Profile Picture</p>
        <p (click)="deleteImage(masterSelectedImage)">Delete?</p>
      </div>
    </div>
    <div class="sidePanel">
      <div class="header">
        <img src="{{(user | async)?.profileImg}}" alt="">
        <div class="nameDate">
          <p style="color: #365889">{{(user | async)?.username}}</p>
          <p class="click">date</p>
        </div>
      </div>
    </div>
  </div>
  <button (click)="add()">+</button>
  <button (click)="subtract()">-</button>
  <button (click)="information()">lskdjf</button>
</div>
