<div class="imageView">
  <div class="imageSection">
    <div class="imageItem">
      <img src="{{masterSelectedImage.url}}" alt="">
      <div class="edit">
        <p (click)="updateProfileImage()">Use as Profile Picture</p>
        <p (click)="deleteImage(masterSelectedImage)">Delete?</p>
      </div>
      <h1 (click)="closeImageView()">x</h1>
    </div>
    <div class="sidePanel">
      <div class="header">
        <img src="{{(user | async)?.profileImg}}" alt="">
        <div class="nameDate">
          <p style="color: #365889">{{(user | async)?.username}}</p>
          <p class="click">date</p>
        </div>
      </div>
    </div>
  </div>
</div>
