<div class="imageView">
  <div class="imageSection">
    <h1 (click)="closeImageView()">&#10005;</h1>
    <div class="imageItem">
      <img src="{{initial}}" alt="">
      <div class="edit">
        <div class="top">
          <button (click)="information()">lskdjf</button>
        </div>
        <div class="middle">
          <h2 (click)="subtract()">&#60;</h2>
          <h2 (click)="add()">&#62;</h2>
        </div>
        <div class="bottom">
          <p (click)="updateProfileImage()">Use as Profile Picture</p>
          <p (click)="deleteImage()">Delete?</p>
        </div>
      </div>
    </div>
    <div class="sidePanel">
      <div class="header">
        <img src="{{(user | async)?.profileImg}}" alt="">
        <div class="nameDate">
          <p style="color: #365889">{{(user | async)?.username}}</p>
          <p class="click">date</p>
        </div>
      </div>
    </div>
  </div>
</div>
