<div class="all">
  <div class="title">
    <img src="../../assets/icon/earth.png" alt="">
    <div class="titleName">
      <p>Intro</p>
    </div>
  </div>
  <div class="description">
    <img src="../../assets/icon/messageBubble.png" alt="">
    <p>Add a short bio to tell people more about yourself.</p>
    <p class="blue">Add Bio</p>
  </div>
  <div class="main">
    <div class="userImgs" *ngFor="let image of images | async">
      <img src="{{image.url}}" alt="">
    </div>
  </div>
</div>
