<div class="all">
  <div class="title">
    <img src="../../assets/icon/earth.png" alt="">
    <div class="titleName">
      <p>Intro</p>
    </div>
  </div>
  <div class="description">
    <img src="../../assets/icon/messageBubble.png" alt="">
    <p>Add a short bio to tell people more about yourself.</p>
    <p class="blue">Add Bio</p>
  </div>
  <div class="information">
    <div class="flex">
      <img src="../../assets/icon/work.png" alt="">
      <p>Work at <span class="blue">somewhere</span></p>
    </div>
  </div>
</div>
