$outline: 1px solid black;
form {
  display: grid;
  grid-template-columns: auto auto 100px;
}
.username {
  display: grid;
  align-self: center;
  margin-right: 10px;
  color: white;
  font-size: 13px;
  margin-bottom: 5px;
  label{
    margin-bottom: 5px;
  }
  input {
    outline: $outline;
    border: none;
    height: 21px;
    width: 100px;
    border: none;
    padding-left: 10px;
    transition: 1s ease-in-out;
    &:focus{
      width: 150px;
      transition: 1s ease-in-out;
    }
  }
  .hide{
    padding: 0;
    margin: 0;
    opacity: 0;
  }
}
.password {
  display: grid;
  align-self: center;
  margin-right: 10px;
  color: white;
  margin-bottom: 5px;
  font-size: 13px;
  label {
    margin-bottom: 5px;
  }
  input {
    outline: $outline;
    border: none;
    height: 21px;
    width: 100px;
    border: none;
    padding-left: 10px;
    transition: 1s ease-in-out;
    &:focus{
      width: 150px;
      transition: 1s ease-in-out;
    }
  }
  p {
    font-size: 12px;
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
button {
  background-color: #4267B2;
  outline: 1px solid rgba(0,0,0,0.4);
  border: none;
  height: 24px;
  width: 50px;
  align-self: center;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: #3b5da0;
  }
}
