.all {
  width: 100%;
  .profile{
    width: 851px;
    margin-left: 5%;
    background-color: #eee;
    margin-top: -21px;
    .userImage{
      width: 60px;
      height: 60px;
    }
  }
  .main {
    width: 851px;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 321px 514px;
    grid-gap: 16px;
    .left{
        background-color: #eee;
    }
    .right{
        background-color: #eee;
    }
  }
  .userImgs{
    img{
      height: 50px;
      width: auto;
    }
  }
}
