<div class="addNewAccount">
  <form id="form">
    <div class="firstLast">
      <input type="text" #firstName name="name" placeholder="First Name">
      <input type="text" #lastName name="name" placeholder="Last Name">
    </div>
    <input type="text" #phoneOrEmail name="mobile" placeholder="Mobile Number or Email">
    <input type="password" #newPassword name="password" placeholder="New Password">
    <p class="birthday">Birthday</p>
    <div class="dobInput">
      <input type="date" #date>
      <p>Why do I need to provide my birthday?</p>
    </div>
    <div class="genderInput">
      <div class="femaleInput">
        <input type="radio" [(ngModel)]="gender" name="gender"  value="female">
        <label for="gender">Female</label>
      </div>
      <div class="maleInput">
        <input type="radio" [(ngModel)]="gender" name="gender" value="male">
        <label for="gender">Male</label>
      </div>
    </div>
    <p class="disclaimer">By clicking Sign Up, you agree to our <span class="blue">Terms, Data Policy</span> and <span class="blue">Cookies Policy</span>. You may recieve SMS Notifications from us and can opt out any time.</p>
    <button type="submit" name="button" (click)="addNewAccount(firstName.value, lastName.value, phoneOrEmail.value, newPassword.value, date.value, gender); firstName.value=''; lastName.value=''; phoneOrEmail.value=''"><b>Sign Up</b></button>
  </form>
</div>
