.feed{
  width: 100%;
  padding-left: 3%;
  padding-top: 10px;
  background-color: #e9ebee;
  .main{
    width: 1018px;
    display: grid;
    margin: auto;
    padding-right: 365px;
    grid-template-columns: 180px 500px 308px;
    grid-gap: 10px;
    .left{
      border: 1px solid red;
    }
    .middle{
      border: 1px solid red;
    }
    .right{
      border: 1px solid red;
    }
  }
  .users{

  }
}
