<div class="welcome" *ngIf="disclaimer">
  <div class="mainContainer">
    <h1>Welcome to my Facebook</h1>
    <h2>This is still a work in progress all functionality is not yet set in place.</h2>
    <h3>Current Functionality:</h3>
    <ul>
      <li>You can create an account and sign in with the email you set and your password. You must be over the age of 13 to create a account and must select a gender</li>
      <li>You can hover over the Recent Logins accounts to see a custom animation I put in place.</li>
      <li>Once you log in you will see your profile with your firstname and a preset image dependng on if you selected male or female. There is also a fun little animation when you click on the username input and password input.</li>
      <li>You can select profile on the top to view your profile page. When on profile page you can select feed to get back. You can also logout and login again if you want to.</li>
    </ul>
    <button (click)="hideDisclaimer()">Close</button>
    <p class="disclaimer">Disclaimer: This webpage has no association with the real facebook webiste. If you would like to create a facebook account and or use facebook please <a href="https://www.facebook.com">Click Here</a>. Any adds you see displayed are not real adds just images I have downloaded to display. I AM NOT MAKING ANY MONEY FROM THIS WEBSITE. </p>
  </div>
</div>
<router-outlet></router-outlet>
