.login-header {
  width: 100%;
  height: 83px;
  background-color: #3B5998;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 0;
  h1 {
    margin-left: 33px;
    align-self: center;
    font-size: 45px;
    margin-top: 17px;
  }
  app-login-header {
    justify-self: center;
    align-self: center;
  }
}
