/* You can add global styles to this file, and also import other style files */
$fbBlue: #365889;
@font-face {
  font-family: customFont;
  src: url('assets/fonts/SF-Compact-Text-Regular.otf')
}
body {
  margin: 0;
}
*:focus{
  outline: none;
}
*{
  font-family: customFont;
}
@keyframes pulse{
  0%{box-shadow: 0px 0px 10px black}
  50%{box-shadow: 0px 0px 60px $fbBlue}
  100%{box-shadow: 0px 0px 10px black}
}
.creating {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  display: grid;
  justify-content: center;
  align-content: center;
  img{
    border-radius: 15px;
    animation: pulse .1s linear infinite;
    width: 70vw;
    height: auto;
  }
}
