$fbGray: #333333;
$fbBlue: #365889;
@keyframes pulse{
  0%{box-shadow: 0px 0px 10px $fbBlue}
  50%{box-shadow: 0px 0px 60px $fbBlue}
  100%{box-shadow: 0px 0px 10px $fbBlue}
}
.creating {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 4;
  display: grid;
  justify-content: center;
  align-content: center;
  img{
    border-radius: 15px;
    animation: pulse 1s linear infinite;
    width: 70vw;
    height: auto;
  }
  h1 {
    text-align: center;
  }
}
.login-header {
  width: 100%;
  height: 83px;
  background-color: #3B5998;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 0;
  border-bottom: 1px solid black;
  h1 {
    margin-left: 33px;
    align-self: center;
    font-size: 45px;
    margin-top: 20px;
    color: white;
  }
  app-login-header {
    justify-self: end;
    align-self: center;
  }
}
.main-login {
  background-color: #E9EBEE;
  display: grid;
  grid-template-columns: 60% 38% 2%;
  grid-gap: 20px;
  app-recent-logins {
    justify-self: center;
    margin-top: 20px;
  }
  .newAccount {
    h1 {
      color: $fbGray;
      margin: 0;
      padding: 0;
      margin-top: 20px;
    }
    p {
      margin: 0;
      padding: 0;
      color: $fbGray;
    }
    .createPageBand {
      margin-top: 20px;
      padding-bottom: 60px;
      font-size: 15px;
      .blues {
        color: $fbBlue;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
