<app-image-view [masterSelectedImage]="masterSelectedImage" (closeImage)="closeImage($event)" *ngIf="selectedImageView"></app-image-view>
<app-header></app-header>
<app-newprofileimage (closeNewImage)="closeNewImage($event)" *ngIf="newProfileImage"></app-newprofileimage>
<div class="all">
  <div class="information">
    <app-user-profile-top (openNewImage)="openNewImage($event)"></app-user-profile-top>
    <div class="main">
      <div class="left">
        <app-user-intro></app-user-intro>
        <app-user-images (selectedImage)="selectedImage($event)"></app-user-images>
      </div>
      <div class="right">
        <app-user-posts></app-user-posts>
      </div>
    </div>
  </div>
</div>
<app-online-friends></app-online-friends>
