.all {
  width: 100%;
  background-color: #eee;
  .information{
    width: 851px;
    margin: auto;
    padding-right: 350px;
  }
  .main {
    width: 851px;
    display: grid;
    grid-template-columns: 323px 515px;
    grid-gap: 13px;
    .left{
      display: grid;
      grid-gap: 13px;
    }
    .right{
        background-color: #eee;
        border: 1px solid red;
    }
  }
}
