<app-header></app-header>
<app-newprofileimage (closeNewImage)="closeNewImage($event)" *ngIf="newProfileImage"></app-newprofileimage>
<div class="all">
  <div class="information">
    <app-user-profile-top (openNewImage)="openNewImage($event)"></app-user-profile-top>
    <div class="main">
      <div class="left">
        <app-user-intro></app-user-intro>
        <app-user-images></app-user-images>
      </div>
      <div class="right">
        <h1>create a post & user posts</h1>
      </div>
    </div>
  </div>
</div>
<app-online-friends></app-online-friends>
