.all {
  width: 100%;
  background-color: #e9ebee;
  .information{
    width: 851px;
    margin: auto;
    padding-right: 350px;
  }
  .main {
    width: 851px;
    display: grid;
    grid-template-columns: 323px 516px;
    grid-gap: 13px;
    .left{
    }
    .right{
    }
  }
}
